/** review this link after build of tdb-dcoumnets-ui*/
html, body {
  height: 100% ;
}

body{
  background-color: #222 !important;
}

.table {
  border: 0px solid transparent !important;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}

.table td, .table th {
  border-top: 0 !important;
  word-break: break-all !important;
}

.table thead th, .member-headers {
  color: #a3b6ca !important;
}

.table > :not(:first-child) {
  border-top: 0 !important;
}




